<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <%-include('../partial/style.ejs')%>
        <title>Index</title>
    </head>
    <body>
        <nav>
            <%-include('../partial/nav.ejs')%>
        </nav>
        <div class="container">
            <h1>Airfryer Recipes</h1>

            <% for(let i = 0; i < item.length; i++) { %>
                <h4><%=item[i].name%></h4>
                <a href="/recipes/<%=item[i].id%>">
                    <img src="<%=item[i].img%>" alt="">
                </a></br>
            <% } %>
        </div>
    </body>
</html>
