<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <%-include('../partial/style.ejs')%>
        <title>Index</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar fixed-top navbar-light bg-light">
                <%-include('../partial/nav.ejs')%>
            </nav>
            <h1>Breakfast Recipes</h1>
            <div class="card">
                <% for(let i = 0; i < item.length; i++) { %>
                <div class="card-body">
                        <h4><%=item[i].name%></h4>
                        <a href="/recipes/<%=item[i].id%>">
                            <img src="<%=item[i].img%>" alt="">
                        </a></br>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>
