<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <%-include('../partial/style.ejs')%>
        <title>Edit</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar fixed-top navbar-light bg-light">
                <%-include('../partial/nav.ejs')%>
            </nav>
            <h1>Editing Recipe</h1>
            <form action="/recipes/<%=item.id%>?_method=PUT" method="POST">
                <label for="category">Choose a Category:</label>
                <select form="whatever" name="category" id="category">
                  <option value="airfryer">Airfryer</option>
                  <option value="breakfast">Breakfast</option>
                  <option value="soups">Soups</option>
                  <option value="dessert">Dessert</option>
                </select>
                <label>Name</label>
                <input type="text" name="name" value="<%=item.name%>"/><br/>
                <label>Description</label>
                <input type="text" name="description" value="<%=item.description%>"/><br/>
                <label>Cooking Time</label>
                <input type="text" name="readyIn" value="<%=item.readyIn%>"><br/>
                <label>Image Link</label>
                <input type="text" name="img" value="<%=item.img%>"/><br/>
                <label>Serving Size</label>
                <input type="number" name="serving" value="<%=item.serving%>" /><br/>
                <label>Ingredients</label>
                <input type="text" name="ingredients" value="<%=item.ingredients%>"/><br/>
                <label>Directions</label>
                <input type="text" name="directions" value="<%=item.directions%>"/><br/>
                <input type="submit" value="Submit">
                <button type="button" onclick="window.history.back()">Previous Page</button>
            </form>

        </div>
    </body>
</html>
