<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <%-include('../partial/style.ejs')%>
        <title>Edit</title>
    </head>
    <body>
        <nav>
            <%-include('../partial/nav.ejs')%>
        </nav>
        <div class="container">
            <h1>Editing Recipe</h1>
            <form action="/authors/<%=article._id%>?_method=PUT" method="post">
                <select name="authorId">
                    <% for(let i = 0; i < authors.length; i++) { %>
                        <option
                            value="<%=authors[i]._id%>"
                            <% if(authors[i]._id.toString() === articleAuthor._id.toString()){ %>
                                selected
                            <% } %>
                            >
                            <%=authors[i].name%>
                        </option>
                            <% } %>
                            </select><br/>
                <input type="text" name="title" value="<%=article.title%>"/><br/>
                <textarea name="body"><%=article.body%></textarea><br/>
                <input type="submit" value="Update Article"/>
            </form>
        </div>
    </body>
</html>
