<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <%-include('../partial/style.ejs')%>
        <title>Show</title>
    </head>
    <body>
        <nav>
            <%-include('../partial/nav.ejs')%>
        </nav>
        <div class="container">
            <div class="">
                <h2><%=item.name%></h2>
                <img src="<%=item.img%>" alt="">
                <h5>Description</h5>
                <p><%=item.description%></p>
                <h5>Cooking Time</h5>
                <p><%=item.readyIn%></p>
                <h5>Serving Size</h5>
                <p><%=item.serving%></p>
                <h5>Ingredients</h5>
                <ul>
                    <% for(let arr of item.ingredients) { %>
                    <li><%=arr%><br/></li>
                    <% } %>
                </ul>
                <h5>Directions</h5>
                <ol>
                    <% for(let arr of item.directions) { %>
                    <li><%=arr%></li>
                    <% } %>
                </ol>
            </div>
            <form action="/recipes/<%=item.id%>?_method=DELETE" method="POST">
                <button type="button" onclick="window.location.href='/recipes/<%=item.id%>/edit'">Edit Recipe</button>
                <input type="submit" value="Delete">
                <button type="button" onclick="window.history.back()">Previous Page</button>
            </form><br/>
            <div class="comments">
                <% for(let post of item.comments) { %>
                <p><%=currentUser%><%=post%></p>
                <% } %>

                <form class="" action="/recipes/<%=item.id%>/comments?_method=PUT" method="POST">
                    <textarea name="comments" rows="20" cols="50"></textarea>
                    <input type="submit" value="Post Comment">
                </form>
            </div>
        </div>
    </body>
</html>
